@model GameReview.Models.ViewModel.GameReviewVM

@{ 
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />




<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>

                <div id="dragDropArea">
                    <div class="drag-drop-inside">
                        <p class="drag-drop-info">ここにファイルをドロップ</p>
                        <p>または</p>
                        <p class="drag-drop-buttons">
                            <input asp-for="ImageFile" class="form-control-file" onchange="imgPreview(event)"/>
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </p>
                        <div id="previewArea"></div>
                    </div>
                </div>


            </div>
            

            <div class="form-group">
                <label asp-for="Game.Title" class="control-label"></label>
                <input asp-for="Game.Title" class="form-control" />
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Developer" class="control-label"></label>
                <input asp-for="Game.Developer" class="form-control" />
                <span asp-validation-for="Game.Developer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Publisher" class="control-label"></label>
                <input asp-for="Game.Publisher" class="form-control" />
                <span asp-validation-for="Game.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.ReleaseDate" class="control-label"></label>
                <input asp-for="Game.ReleaseDate" class="form-control" />
                <span asp-validation-for="Game.ReleaseDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">リストへ</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}




<script>

</script>
