@model GameReview.Models.ViewModel.GameReviewVM

@{
    ViewData["Title"] = "Edit";
}

<h1>編集</h1>

<hr />




<form asp-action="Edit" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Game.ID" />
            <input type="hidden" asp-for="Review.ReviewerID" />
            <input type="hidden" asp-for="Game.ImagePath" />
            <input type="hidden" asp-for="Review.created_at" />
            <input type="hidden" asp-for="Review.updated_at" />

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <div id="dragDropArea">
                    <div class="drag-drop-inside">
                        <p class="drag-drop-info">ここにファイルをドロップ</p>
                        <p>または</p>
                        <p class="drag-drop-buttons">
                            <input asp-for="ImageFile" class="form-control-file" onchange="imgPreview(event)" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </p>
                        <div id="previewArea">
                            <img id="previewImage" src="@Html.DisplayFor(item => item.Game.ImagePath)" alt="" class="img-thumbnail" />
                        </div>
                    </div>
                </div>

                <span asp-validation-for="ImageFile" class="text-danger"></span>

            </div>





            <div class="form-group">
                <label asp-for="Game.Title" class="control-label"></label>
                <input asp-for="Game.Title" class="form-control" />
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Developer" class="control-label"></label>
                <input asp-for="Game.Developer" class="form-control" />
                <span asp-validation-for="Game.Developer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Publisher" class="control-label"></label>
                <input asp-for="Game.Publisher" class="form-control" />
                <span asp-validation-for="Game.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.ReleaseDate" class="control-label"></label>
                <input asp-for="Game.ReleaseDate" class="form-control" />
                <span asp-validation-for="Game.ReleaseDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Review.Grade" class="control-label"></label>
                <select asp-for="Review.Grade" asp-items="Html.GetEnumSelectList<eGrade>()">
                    <option selected="selected" value="">Please forgive me.</option>
                </select>
                <span asp-validation-for="Review.Grade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Review.Summary" class="control-label"></label>
                <input asp-for="Review.Summary" class="form-control" />
                <span asp-validation-for="Review.Summary" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group h-75">
                <label asp-for="Review.ProsPoints" class="control-label"></label>
                <textarea asp-for="Review.ProsPoints" class="form-control h-100"></textarea>
                <span asp-validation-for="Review.ProsPoints" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group h-75">
                <label asp-for="Review.ConsPoints" class="control-label"></label>
                <textarea asp-for="Review.ConsPoints" class="form-control h-100"></textarea>
                <span asp-validation-for="Review.ConsPoints" class="text-danger"></span>
            </div>
        </div>



    </div>

    <div class="col">

        <label asp-for="Review.Comment" class="control-label"></label>
        <textarea asp-for="Review.Comment" class="form-control" rows="10"></textarea>
        <span asp-validation-for="Review.Comment" class="text-danger"></span>

    </div>

    <div class="mx-auto">
        <input type="submit" value="Save" class="btn btn-primary btn-lg mx-auto m-2 d-block" />
    </div>

    <div>
        <div class="">
            <a class="btn btn-info" asp-action="Details" asp-route-id="@Model.Game.ID">詳細</a> <text>|</text>
            <a class="btn btn-secondary" asp-action="Index">リストへ</a>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        @if (!String.IsNullOrEmpty((string)TempData["Message"])) {
            @:toastr.success('@TempData["Message"]');
        }
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}


